In [1]:
import pandas as pd

# Sample DataFrame
data = {'Product_ID': [1, 2, 3, 4, 5],
        'Product_Price': [1000, "$500", None, "₹1200", 2000]}

df = pd.DataFrame(data)

df

   Product_ID Product_Price
0           1          1000
1           2          $500
2           3          None
3           4         ₹1200
4           5          2000

In [3]:
# Step 1: Clean the "Product_Price" column by removing currency symbols
df['Product_Price'] = df['Product_Price'].replace({'\$': '', '₹': '', ',': ''}, regex=True)

df

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\arman\AppData\Local\Temp\ipykernel_11920\4286940035.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['Product_Price'] = df['Product_Price'].replace({'\$': '', '₹': '', ',': ''}, regex=True)

   Product_ID Product_Price
0           1          1000
1           2           500
2           3          None
3           4          1200
4           5          2000

In [7]:
# Step 2: Convert the column to numeric (to handle mixed data types)
df['Product_Price'] = pd.to_numeric(df['Product_Price'], errors='coerce')

# Step 3: Handle missing values (impute with mean for simplicity)
df['Product_Price'].fillna(df['Product_Price'].mean(), inplace=True)

df

C:\Users\arman\AppData\Local\Temp\ipykernel_11920\2453473594.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Price'].fillna(df['Product_Price'].mean(), inplace=True)

   Product_ID  Product_Price
0           1         1000.0
1           2          500.0
2           3         1175.0
3           4         1200.0
4           5         2000.0