In [164]:
import pandas as pd

In [165]:
data = {'car_name': ['Jeep Compass 2.0 Langitude Option BSIV', 'Renault Duster RXZ Turbo CVT', 'BMW X1 sDrive 20d xLine',
                    'Toyota Camry 2.5 G', 'Honda WR-V VX Diesel', 'Maruti Baleno 1.2 Alpha', 'BMW 7 Series 730LD',
                    'Jaguar XF 2.2 Litre Luxury']}
df = pd.DataFrame(data)
df.head()

                                 car_name
0  Jeep Compass 2.0 Langitude Option BSIV
1            Renault Duster RXZ Turbo CVT
2                 BMW X1 sDrive 20d xLine
3                      Toyota Camry 2.5 G
4                    Honda WR-V VX Diesel

# Car_name

In [166]:
df['car_name']

0    Jeep Compass 2.0 Langitude Option BSIV
1              Renault Duster RXZ Turbo CVT
2                   BMW X1 sDrive 20d xLine
3                        Toyota Camry 2.5 G
4                      Honda WR-V VX Diesel
5                   Maruti Baleno 1.2 Alpha
6                        BMW 7 Series 730LD
7                Jaguar XF 2.2 Litre Luxury
Name: car_name, dtype: object

In [167]:
df['car_name'][0]

'Jeep Compass 2.0 Langitude Option BSIV'

In [168]:
x = df['car_name'][0]
x.index(" ")

4

In [169]:
x[:x.index(" ")]

'Jeep'

In [170]:
# This function extracts the company name from a string x by taking all the characters before the first space (" ").
# The x.index(" ") finds the index of the first space in the string.

def company_name(x):
    return x[:x.index(" ")]

In [171]:
df['car_name'].apply(company_name)

0       Jeep
1    Renault
2        BMW
3     Toyota
4      Honda
5     Maruti
6        BMW
7     Jaguar
Name: car_name, dtype: object

In [172]:
df['Company_name'] = df['car_name'].apply(company_name)

In [173]:
df.head()

                                 car_name Company_name
0  Jeep Compass 2.0 Langitude Option BSIV         Jeep
1            Renault Duster RXZ Turbo CVT      Renault
2                 BMW X1 sDrive 20d xLine          BMW
3                      Toyota Camry 2.5 G       Toyota
4                    Honda WR-V VX Diesel        Honda

In [174]:
x[x.index(" ")+1:]

'Compass 2.0 Langitude Option BSIV'

In [175]:
# The expression x[x.index(" ")+1:] takes the substring from the index just after the first space to the end of the string.

def car_name(x):
    return x[x.index(" ")+1:]

In [176]:
df['car_name'] = df['car_name'].apply(car_name)

In [177]:
df['car_name'].apply(car_name)

0    2.0 Langitude Option BSIV
1                RXZ Turbo CVT
2             sDrive 20d xLine
3                        2.5 G
4                    VX Diesel
5                    1.2 Alpha
6                 Series 730LD
7             2.2 Litre Luxury
Name: car_name, dtype: object

In [178]:
df.head()

                            car_name Company_name
0  Compass 2.0 Langitude Option BSIV         Jeep
1               Duster RXZ Turbo CVT      Renault
2                X1 sDrive 20d xLine          BMW
3                        Camry 2.5 G       Toyota
4                     WR-V VX Diesel        Honda