In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({'A': [1,2,3],
                    'B': [10,20,30]})
df2 = pd.DataFrame({'A': [4,5,6],
                    'B': [40, 50, 60]})

display(df, df1)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  1  10
1  2  20
2  3  30

In [ ]:
df.append(df1, ignore_index = True)