In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('C:\\Users\\arman\\Desktop\\Python\\ML\\Data Frame\\Student.csv', parse_dates= ['Date'])
df

         Date  Student ID  Class  Study hrs  Percentege
0  2019-01-07      1001.0   10.0        2.0        50.0
1  2019-02-07      1002.0   10.0        NaN        80.0
2  2019-03-07         NaN   10.0        3.0        60.0
3  2019-06-07         NaN   11.0        0.0         NaN
4  2019-07-07      1005.0   11.0        4.0         NaN
5  2019-08-07         NaN   11.0       10.0         NaN
6  2019-09-07      1007.0   12.0        4.0        80.0
7  2019-10-07      1008.0   12.0        NaN        90.0
8  2019-11-07      1009.0   12.0        NaN        60.0
9  2019-12-07      1010.0   12.0        6.0        85.0
10        NaT         NaN    NaN        NaN         NaN
11        NaT         NaN    NaN        NaN         NaN

In [6]:
df.dtypes

Date          datetime64[ns]
Student ID           float64
Class                float64
Study hrs            float64
Percentege           float64
dtype: object

In [7]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp