In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\arman\\Desktop\\Python\\ML\\Data Frame\\Student.csv')
df

          Date  Student ID  Class  Study hrs  Percentege
0   01-07-2019      1001.0   10.0        2.0        50.0
1   02-07-2019      1002.0   10.0        NaN        80.0
2   03-07-2019         NaN   10.0        3.0        60.0
3   06-07-2019         NaN   11.0        0.0         NaN
4   07-07-2019      1005.0   11.0        4.0         NaN
5   08-07-2019         NaN   11.0       10.0         NaN
6   09-07-2019      1007.0   12.0        4.0        80.0
7   10-07-2019      1008.0   12.0        NaN        90.0
8   11-07-2019      1009.0   12.0        NaN        60.0
9   12-07-2019      1010.0   12.0        6.0        85.0
10         NaN         NaN    NaN        NaN         NaN
11         NaN         NaN    NaN        NaN         NaN

In [4]:
df.groupby(['Student ID', 'Class']).groups

{(1001.0, 10.0): [0], (1002.0, 10.0): [1], (nan, 10.0): [2], (nan, 11.0): [3, 5], (1005.0, 11.0): [4], (1007.0, 12.0): [6], (1008.0, 12.0): [7], (1009.0, 12.0): [8], (1010.0, 12.0): [9], (nan, nan): [10, 11]}

In [ ]:
gr1 = df.groupby('Date').get_group(11)
gr1