In [1]:
import pandas as pd

In [18]:
df1 = pd.DataFrame({'ID': [1,2,3,4],
                    'Class': [9,10,11,12]})
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [12]:
df2 = pd.DataFrame({'ID': [1,2,3,4,5],
                    'Class': ['A','B','C','D','E']})
df2

   ID Class
0   1     A
1   2     B
2   3     C
3   4     D
4   5     E

In [15]:
pd.merge(df1, df2, on = 'ID')

   ID  Class_x Class_y
0   1        9       A
1   2       10       B
2   3       11       C
3   4       12       D

In [16]:
pd.merge(df1,df2, on = 'ID', how = 'outer')

   ID  Class_x Class_y
0   1      9.0       A
1   2     10.0       B
2   3     11.0       C
3   4     12.0       D
4   5      NaN       E

In [ ]:
pd.merge(df1, df2, on = 'ID', how = 'outer', indecator = True)

In [23]:
pd.merge(df1, df2, left_index = True, right_index = True)

   ID_x  Class_x  ID_y Class_y
0     1        9     1       A
1     2       10     2       B
2     3       11     3       C
3     4       12     4       D